#Biografia {
    text-align: center;
    padding: 20px;
}

#Biografia h2 {
    text-align: center;    /* O título continua no centro para dar equilíbrio */
    margin-bottom: 30px;
    font-family: 'Amazonica', sans-serif;
    font-size: 200%;
}

#Biografia p{
    text-align: justify;
    padding: auto;
    margin: 2%;
    hyphens: auto; /* Adiciona hífens se as palavras forem muito grandes (melhora o justificado) */
    line-height: 1.8; /* Aumenta um pouco o espaçamento entre linhas para leveza */
}

#Imagem_papai {
    display: block;
    margin: 20px auto;
    width: 250px; /* Tamanho fixo ideal para desktop */
    max-width: 80% ; /* No mobile, ela cresce até 80% da tela se necessário */
    height: auto;
    border-radius: 50%; /* Círculo perfeito */
    border: 4px solid #091c0c; /* Moldura para destacar do fundo */
}
